#pageContainer {
  display: flex;
  flex-direction: column;
}

#header {
  height: 100px;
  display: flex;
}

#header-img {
  height: 100%;
}

#galleryContainer {
  height: 350px;
}

#pageBody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pageBody #pageLeft {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  width: 600px;
}

#stickyModule {
  position: sticky;
  top: 20px;
  margin-top: 10px;
}

#rightBar {
  display: flex;
  flex-direction: column;
}

#right-bar-min-img {
  max-width: 320px
}

#pageBody #pageLeft #restaurantName {
  height: 200px
}

#restaurant-name-img {
  height: 100%
}

#popularDishesContainer {
  height: 100%;
  margin: -50px !important
}

#popular-dishes {
  height: 100%;
}

#popular-dishes-root-container {
  display: flex;
}

#popular-dishes-root {
  max-width: 95%;
  max-width: 95%;
}

#reviews-top-img {
  max-width: 100%
}

#reviews-bottom-img {
  max-width: 100%
}

#pageBottom {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

#collections-img {
  max-width: 100%
}

#recommendations-img {
  max-width: 100%
}

#functionalities-img {
  max-width: 100%
}

#footer-img {
  max-width: 100%
}